/mvnw text eol=lf
*.cmd text eol=crlf

# Ignore build output
target/* linguist-generated=true

# Ignore minified or compiled frontend (if any)
dist/* linguist-generated=true
build/* linguist-generated=true

# Optional: reduce only static folder weight
src/main/resources/static/* linguist-generated=true